* {
    font-family: Montserrat, sans-serif;
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: minmax(16px, auto) minmax(288px, 1200px) minmax(16px, auto);
    grid-template-rows: auto 1px 1fr auto;
    grid-template-areas:
        ". header ."
        "header_line header_line header_line"
        ". main ."
        "footer footer footer";
}

.header {
    grid-area: header;
    height: 56px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
}

.header__logo {
    width: 48px;
}

.header__nav {
    display: none;
    margin-left: 32px;
    flex: 1;
}

.header__nav > ul, .blog__nav > ul {
    display: flex;
    padding: 0;
    margin: 0;
}

.header__link {
    list-style: none;
    margin-right: 16px;
    text-align: center;
}

a {
    text-decoration: none;
}

.header__link > a {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #333333;
    font-size: 14px;
    font-weight: 500;
}

.button {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: none;
}

.header__button {
    display: none;
    border-radius: 4px;
    padding: 14px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #E3F5F5;
    color: #03B2A5;
}

.header__button:hover {
    background-color: #35B3A9;
    color: #FFFFFF;
}

.header__toggle {
    height: 14px;
    width: 14px;
}

.header__wrapped-menu {
    display: block;
}

.header-line {
    grid-area: header_line;
    background-color: #EFF5FB;
}

.blog {
    grid-area: main;
}

.blog__nav {
    margin-top: 24px;
}

.blog__link {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 4px;
    line-height: 18px;
    margin-right: 8px;
}

.blog__link > a {
    color: rgba(51, 51, 51, 0.7);
    font-size: 12px;
    font-weight: 400;
}

.blog__link:not(:last-child)::after {
    content: " ";
    background-image: url("../img/arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
}

.blog__header {
    font-size: 24px;
    margin-top: 24px;
}

.article-filter {
    display: flex;
    margin-top: 24px;
    padding: 1px;
    gap: 8px;
    overflow-x: auto;
    scrollbar-width: none;
}

.article-filter__item {
    border: 1px solid #C1C5CD;
    border-radius: 24px;
    padding: 6px 8px;
    font-size: 14px;
    font-weight: 600;
    text-wrap: nowrap;
}

.article-filter__item > a {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #333333;
}

.article-filter__item:hover {
    cursor: pointer;
    border: 1px solid #16C8BB;
    outline: 1px solid #16C8BB;
}

.article-filter__item_selected {
    border: 1px solid #16C8BB;
    outline: 1px solid #16C8BB;
}

.article-filter__icon {
    height: 18px;
    width: 18px;
}

.article-list {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 16px;
}

.article-list:first-of-type {
    margin-top: 24px;
}

.article {
    grid-column: span 6;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 206px 1fr;
    grid-template-areas:
        "article_img"
        "article_body";
}

.article__header > a {
    color: #333333;
}

.article:nth-child(n+5) {
    display: none;
}

.article__tag {
    position: absolute;
    margin-left: 8px;
}

.article__tag > span {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 4px;
    color: #333333;
    font-weight: 600;
    font-size: 14px;
    padding: 6px 8px;
    margin-top: 8px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #C1C5CD;
    border-radius: 24px;
}

.article__img {
    grid-area: article_img;
    display: flex;
    width: 100%;
}

.article__img > img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.article__body {
    grid-area: article_body;
    border: 1px solid #DEDEDE;
    display: flex;
    flex-flow: column;
    padding: 16px;
    height: 240px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.article__header {
    font-size: 18px;
    color: #333333;
}

.article__author {
    font-size: 12px;
    color: #494949;
    margin-top: 4px;
}

.article__text {
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    margin-top: 8px;
}

.article__date {
    color: #868686;
    font-size: 12px;
    font-weight: 300;
    margin-top: auto;
}

.button-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-section__item {
    margin-top: 28px;
    margin-bottom: 59px;
    border-radius: 4px;
    padding: 12px 72.5px;
    font-size: 16px;
    font-weight: bold;
    background-color: #35B3A9;
    color: #FFFFFF;
}

.button-section__item:hover {
    background-color: #E3F5F5;
    color: #03B2A5;
}

.footer {
    grid-area: footer;
    background-color: #2963A3;
    display: grid;
    grid-template-columns: minmax(16px, auto) minmax(288px, 1200px) minmax(16px, auto);
    grid-template-areas:
        ". footer_container .";
}

.footer__container {
    grid-area: footer_container;
}

.footer__sections {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(6, 1fr);
    gap: 23px;
    margin-top: 35px;
}

.footer__nav-section {
    grid-column: span 6;
    display: flex;
    justify-content: space-between;
}

.footer__nav > ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer__link {
    list-style: none;
}

.footer__link > a {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
}

.footer__input-section {
    grid-column: span 6;
}

.input__header {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
}

.input__container {
    position: relative;
    display: flex;
    margin-top: 8px;
}

.input__container > input {
    flex-grow: 1;
    border: none;
    outline: none;
    border-radius: 4px;
    height: 48px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 16px;
    box-sizing: border-box;
}

.input__container > input::placeholder {
    color: #9D9D9D;
}

.input__container > input:focus {
    color: #333333;
}

.input__button {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 48px;
    width: 64px;
}

.input__description {
    color: rgba(255, 255, 255, 0.7);
    font-size: 12px;
    font-weight: 300;
    margin-top: 12px;
}

.footer__icons-section {
    grid-column: span 6;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.icons__social {
    display: flex;
    gap: 16px;
}

.footer__line {
    height: 1px;
    width: 100%;
    background-color: rgba(157, 157, 157, 0.2);
    margin-top: 20px;
}

.footer__copyright-and-documents {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 20px;
    margin-bottom: 37px;
}

.footer__copyright-and-documents > span > a {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    font-weight: 300;
}

/* iPhone 11 Pro Max */
@media screen and (min-width: 414px) {

    .header {
        height: 72px;
    }

    .header__container {
        height: 72px;
    }

    .blog__nav {
        margin-top: 16px;
    }

    .blog__header {
        font-size: 32px;
        margin-top: 32px;
    }

    .article-list:first-of-type {
        margin-top: 16px;
    }

    .input__button {
        display: block;
    }

}

/* iPad mini */
@media screen and (min-width: 768px) {

    .header {
        height: 76px;
    }

    .header__container {
        height: 76px;
    }

    .header__logo {
        width: 51px;
    }

    .blog__header {
        font-size: 48px;
        margin-top: 40px;
    }

    .article-filter {
        flex-wrap: wrap;
        margin-top: 32px;
    }

    .article-list {
        grid-gap: 24px;
    }

    .article-list:first-of-type {
        margin-top: 24px;
    }

    .article:nth-child(n+5) {
        display: block;
    }

    .article:nth-child(-n+3) {
        grid-template-rows: 404px 1fr;
    }

    .article:nth-child(n+3) {
        grid-template-rows: 206px 1fr;
        grid-column: span 3;
    }

    .button-section__item {
        margin-top: 33px;
        margin-bottom: 55px;
    }

    .footer__sections {
        column-gap: 31px;
        row-gap: 26px;
    }

    .footer__nav-section {
        grid-column: span 2;
    }

    .footer__input-section {
        grid-column: span 4;
    }

    .input__description {
        margin-top: 8px;
    }

    .footer__icons-section {
        grid-column: span 2;
        gap: 40px;
    }

    .footer__line {
        margin-top: 27px;
    }

    .footer__copyright-and-documents {
        flex-direction: row;
        gap: 48px;
        margin-top: 16px;
        margin-bottom: 23px;
    }

}

/* iPad Pro */
@media screen and (min-width: 1024px){

    .header__nav {
        display: block;
    }

    .header__button {
        display: block;
    }

    .header__wrapped-menu {
        display: none;
    }

    .article-list:first-of-type {
        margin-top: 11px;
    }

    .article:nth-child(-n+3) {
        grid-template-rows: 260px 1fr;
        grid-column: span 3;
    }

    .article:nth-child(n+3) {
        grid-template-rows: 206px 1fr;
        grid-column: span 2;
    }

    .button-section__item {
        margin-top: 48px;
        margin-bottom: 60px;
    }

    .footer__sections {
        gap: 21px;
        margin-top: 40px;
    }

    .footer__nav-section {
        grid-column: span 2;
    }

    .footer__input-section {
        grid-column: span 3;
    }

    .footer__icons-section {
        grid-column: span 1;
    }

    .footer__line {
        margin-top: 24px;
    }

    .footer__copyright-and-documents {
        margin-bottom: 17px;
    }

}

/* Desktop */
@media screen and (min-width: 1440px) {

    .header__nav {
        margin-left: 51px;
    }

    .header__link {
        margin-right: 30px;
    }

    .blog__header {
        margin-top: 30px;
    }

    .article-list:first-of-type {
        margin-top: 24px;
    }

    .article:nth-child(n+3) {
        grid-template-rows: 260px 1fr;
        grid-column: span 2;
    }

    .button-section__item {
        margin-top: 56px;
        margin-bottom: 96px;
    }

    .footer__sections {
        gap: 91.5px;
    }

}