* {
    font-family: Montserrat, sans-serif;
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: minmax(16px, auto) minmax(296px, 1200px) minmax(16px, auto);
    grid-template-rows: auto 1px 1fr auto;
    grid-template-areas:
    ". header ."
    "header_line header_line header_line"
    ". main ."
    ". footer .";
}

.header {
    grid-area: header;
    height: 56px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
}

.header__logo {
    width: 48px;
}

.header__nav {
    display: none;
    margin-left: 32px;
    flex: 1;
}

.header__nav > ul, .blog__nav > ul {
    display: flex;
    padding: 0;
    margin: 0;
}

.header__link {
    list-style: none;
    margin-right: 16px;
    text-align: center;
}

a {
    text-decoration: none;
}

.header__link > a {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #333333;
    font-size: 14px;
    font-weight: 500;
}

.button {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: none;
}

.header__button {
    display: none;
    border-radius: 4px;
    padding: 14px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #E3F5F5;
    color: #03B2A5;
}

.header__button:hover {
    background-color: #35B3A9;
    color: #FFFFFF;
}

.header__toggle {
    height: 14px;
    width: 14px;
}

.header__wrapped-menu {
    display: block;
}

.header-line {
    grid-area: header_line;
    background-color: #EFF5FB;
}

.blog {
    grid-area: main;
}

.blog__nav {
    margin-top: 24px;
}

.blog__link {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 4px;
    line-height: 18px;
    margin-right: 8px;
}

.blog__link > a {
    color: #333333;
    opacity: 70%;
    font-size: 12px;
    font-weight: 400;
}

.blog__link:first-child::after {
    content: " ";
    background-image: url("../img/arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
}

.blog__header {
    font-size: 24px;
    margin-top: 24px;
}

.article-filter {
    display: flex;
    margin-top: 24px;
    padding: 1px;
    gap: 8px;
    overflow-x: auto;
    scrollbar-width: none;
}

.article-filter__item {
    border: 1px solid #C1C5CD;
    border-radius: 24px;
    padding: 6px 8px;
    font-size: 14px;
    font-weight: 600;
    text-wrap: nowrap;
}

.article-filter__item > a {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #333333;
}

.article-filter__item:hover {
    cursor: pointer;
    border: 1px solid #16C8BB;
    outline: 1px solid #16C8BB;
}

.article-filter__item_selected {
    border: 1px solid #16C8BB;
    outline: 1px solid #16C8BB;
}

.article-filter__icon {
    height: 18px;
    width: 18px;
}

.article-list {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 16px;
}

.article-list:first-of-type {
    margin-top: 24px;
}

.article {
    grid-column: span 6;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 206px 1fr;
    grid-template-areas:
    "article_img"
    "article_body"
}

.article:nth-child(n+5) {
    display: none;
}



.button-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-section__item {
    margin-top: 28px;
    border-radius: 4px;
    padding: 12px 72.5px;
    font-size: 16px;
    font-weight: bold;
    background-color: #35B3A9;
    color: #FFFFFF;
}

.button-section__item:hover {
    background-color: #E3F5F5;
    color: #03B2A5;
}

/* iPhone 11 Pro Max */
@media screen and (min-width: 414px) {

    .header {
        height: 72px;
    }

    .header__container {
        height: 72px;
    }

    .blog__nav {
        margin-top: 16px;
    }

    .blog__header {
        font-size: 32px;
        margin-top: 32px;
    }

    .article-list:first-of-type {
        margin-top: 16px;
    }

}

/* iPad mini */
@media screen and (min-width: 768px) {

    .header {
        height: 76px;
    }

    .header__container {
        height: 76px;
    }

    .header__logo {
        width: 51px;
    }

    .blog__header {
        font-size: 48px;
        margin-top: 40px;
    }

    .article-filter {
        flex-wrap: wrap;
        margin-top: 32px;
    }

    .article-list {
        grid-gap: 24px;
    }

    .article-list:first-of-type {
        margin-top: 24px;
    }

    .article:nth-child(n+5) {
        display: block;
    }

    .article:nth-child(-n+3) {
        grid-template-rows: 404px 1fr;
    }

    .article:nth-child(n+3) {
        grid-template-rows: 206px 1fr;
        grid-column: span 3;
    }

    .button-section__item {
        margin-top: 33px;
    }

}

/* iPad Pro */
@media screen and (min-width: 1024px){

    .header__nav {
        display: block;
    }

    .header__button {
        display: block;
    }

    .header__wrapped-menu {
        display: none;
    }

    .article-list:first-of-type {
        margin-top: 11px;
    }

    .article:nth-child(-n+3) {
        grid-template-rows: 260px 1fr;
        grid-column: span 3;
    }

    .article:nth-child(n+3) {
        grid-template-rows: 206px 1fr;
        grid-column: span 2;
    }

    .button-section__item {
        margin-top: 48px;
    }

}

/* Desktop */
@media screen and (min-width: 1440px) {

    .header__nav {
        margin-left: 51px;
    }

    .header__link {
        margin-right: 30px;
    }

    .blog__header {
        margin-top: 30px;
    }

    .article-list:first-of-type {
        margin-top: 24px;
    }

    .article:nth-child(n+3) {
        grid-template-rows: 260px 1fr;
        grid-column: span 2;
    }

    .button-section__item {
        margin-top: 56px;
    }

}