* {
    font-family: Montserrat, sans-serif;
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: minmax(16px, auto) minmax(288px, 1200px) minmax(16px, auto);
    grid-template-rows: auto 1px 1fr auto;
    grid-template-areas:
        ". header ."
        "header_line header_line header_line"
        ". main ."
        "footer footer footer";
}

.header {
    grid-area: header;
    height: 56px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
}

.header__logo {
    width: 48px;
}

.header__nav {
    display: none;
    margin-left: 32px;
    flex: 1;
}

.header__nav > ul, .blog__nav > ul {
    display: flex;
    padding: 0;
    margin: 0;
}

.header__link {
    list-style: none;
    margin-right: 16px;
    text-align: center;
}

a {
    text-decoration: none;
}

.header__link > a {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #333333;
    font-size: 14px;
    font-weight: 500;
}

.button {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: none;
}

.header__button {
    display: none;
    border-radius: 4px;
    padding: 14px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #E3F5F5;
    color: #03B2A5;
}

.header__button:hover {
    background-color: #35B3A9;
    color: #FFFFFF;
}

.header__toggle {
    height: 14px;
    width: 14px;
}

.header__wrapped-menu {
    display: block;
}

.header-line {
    grid-area: header_line;
    background-color: #EFF5FB;
}

.blog {
    grid-area: main;
}

.blog__nav {
    margin-top: 24px;
}

.blog__link {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 4px;
    line-height: 18px;
    margin-right: 8px;
}

.blog__link > a {
    color: rgba(51, 51, 51, 0.7);
    font-size: 12px;
    font-weight: 400;
}

.blog__link:last-child a {
    display: inline-block;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blog__link:not(:last-child)::after {
    content: " ";
    background-image: url("../img/arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
}

.blog__header {
    font-size: 24px;
    margin-top: 32px;
}

.article-description {
    display: flex;
    gap: 4px;
    margin-top: 8px;
}

.article-description__item {
    list-style: none;
    color: #494949;
    font-size: 14px;
    font-weight: 400;
}

.article-description__item:not(:last-child)::after {
    content: "·";
    margin-left: 4px;
    color: #494949;
}

.article-description__item:last-child {
    color: #2963A3;
}

.article__image {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 160px;
}

.article__image > img {
    width: 288px;
}

section {
    margin-top: 16px;
}

.contents__header {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px;
}

.contents__list {
    margin-left: 28px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contents__list1-item:not(:first-child):not(:last-child) {
    display: none;
}

.contents__list ul {
    padding-left: 16px;
    margin-top: 4px;
    display: none;
}

.contents__list ul ul {
    padding-left: 32px;
    margin-top: 4px;
    display: none;
}

.contents__list ul ul ul {
    padding-left: 48px;
    margin-top: 4px;
    display: none;
}

.contents__list1-item::marker {
    color: #03B2A5;
    font-size: 20px;
}

.contents__list2-item {
    list-style: none;
}

.contents__list1-item > a, .contents__list2-item > a {
    color: #333333;
    font-size: 16px;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-color: #333333;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
}

h3 {
    color: #333333;
    font-size: 18px;
    font-weight: 700;
}

p {
    color: #333333;
}

.intro__text {
    font-size: 16px;
    font-weight: 500;
    margin-top: 8px;
}

.quote {
    margin-top: 40px;
    height: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/quote-img/quote-img-iphoneSE.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
}

.quote__container {
    width: 256px;
    padding: 16px;
}

.quote__text {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-top: 10px;
}

.quote__author {
    font-size: 16px;
    font-weight: 700;
    margin-top: 8px;
}

.anxiety-list__header {
    margin-bottom: 8px;
}

.anxiety-list > ul {
    margin-left: 28px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.anxiety-list__item {
    color: #333333;
    font-size: 16px;
    font-weight: 500;
}

.anxiety-list__item::marker {
    color: #03B2A5;
    font-size: 20px;
}

.article__image > p {
    color: #868686;
    font-size: 14px;
    font-weight: 300;
    margin-top: 16px;
    align-self: flex-start;
}

.paragraph > p {
    color: #333333;
    font-size: 16px;
    font-weight: 500;
}

.paragraph-with-background__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 176px;
    background-image: url("../img/background-img/bg-iphoneSE.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.paragraph-with-background__container > p {
    width: 288px;
    text-align: center;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
}

.paragraph-with-img {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.paragraph-with-img > p {
    color: #333333;
    font-size: 16px;
    font-weight: 500;
}

.exercise-block {
    padding: 16px;
    border-radius: 16px;
}

.exercise1 {
    background-color: #FEFAEC;
}

.exercise2 {
    background-color: #FFF3EB;
}

.exercise3 {
    background-color: rgba(3, 178, 165, 0.1);
}

.exercise__header {
    color: #333333;
    font-size: 16px;
    font-weight: 700;
}

.exercise__text {
    color: #333333;
    font-size: 16px;
    font-weight: 500;
    margin-top: 8px;
}

.paragraph-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.paragraph-grid__item {
    max-width: 288px;
}

.paragraph-grid__item > img {
    width: 100%;
}

.paragraph-grid__item > p {
    color: #333333;
    font-size: 16px;
    font-weight: 500;
    margin-top: 8px;
}

.article-divider {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tag-list {
    display: none;
    max-width: 690px;
}

.tag-list > ul {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.tag-list__item {
    list-style: none;
    color: #2963A3;
    font-size: 14px;
    font-weight: 400;
    text-wrap: nowrap;
}

.tag-list__item:not(:last-child)::after {
    content: "·";
    margin-left: 8px;
    color: #2963A3;
}

.article__line {
    display: none;
    height: 1px;
    width: 100%;
    background-color: #DEDEDE;
    margin-top: 48px;
}

.article__feedback {
    display: none;
    margin-top: 72px;
    gap: 303px;
}

.feedback__body > h1 {
    color: #333333;
    font-size: 48px;
}

.feedback__body > p {
    color: #333333;
    font-size: 18px;
    font-weight: 400;
    margin-top: 24px;
}

.article__button {
    margin-top: 32px;
    border-radius: 4px;
    padding: 20px 20px;
    font-size: 16px;
    font-weight: 600;
    background-color: #16C8BB;
    color: #FFFFFF;
}

.article__button:hover {
    background-color: #E3F5F5;
    color: #03B2A5;
}

.article-page {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;
}

.article-page__left-side {
    grid-column: span 6;
}

.article-page__right-side {
    grid-column: span 6;
}

.aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.aside__block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 24px;
}

.aside__card1 {
    grid-column: span 2;
    padding: 30px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 206px 1fr;
    gap: 24px;
    grid-template-areas:
        "card_img"
        "card_body";
    background-color: #E6F0FD;
    border-radius: 16px;
}

.card__img1 {
    grid-area: card_img;
    display: flex;
    justify-content: center;
    width: 100%;
}

.card__body1 {
    grid-area: card_body;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card__header1 {
    color: #333333;
    font-size: 18px;
    font-weight: 700;
}

.card__text1 {
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    margin-top: 8px;
}

.card__button-more {
    margin-top: 24px;
    border-radius: 4px;
    padding: 12px 67px;
    font-size: 16px;
    font-weight: 600;
    background-color: #35B3A9;
    color: #FFFFFF;
}

.aside__card2 {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 206px 1fr;
    grid-template-areas:
        "card_img"
        "card_body";
    border: 1px solid #DEDEDE;
    border-radius: 16px;
}

.card__tag {
    position: absolute;
    margin-left: 16px;
}

.card__tag > span {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 3px;
    color: #333333;
    font-weight: 500;
    font-size: 12px;
    padding: 3px 6px;
    margin-top: 8px;
    background-color: rgba(243, 244, 248, 0.7);
    border-radius: 6px;
}

.card__img2 {
    grid-area: card_img;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

.card__img2 > img {
    max-height: 120px;
    max-width: 120px;
}

.card__psychologist {
    margin-top: 16px;
    color: #333333;
    font-size: 20px;
    font-weight: 700;
}

.card__job {
    color: #333333;
    font-size: 16px;
    font-weight: 600;
}

.card__experience {
    color: #A2A7B1;
    font-size: 14px;
    font-weight: 500;
}

.card__line {
    height: 1px;
    width: 100%;
    background-color: #DEDEDE;
}

.card__body2 {
    grid-area: card_body;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 36px;
    padding: 16px;
}

.card__work-list {
    align-self: flex-start;
    margin-top: 16px;
    color: #333333;
    font-size: 16px;
    font-weight: 700;
}

.card__body2 > ul {
    margin-top: 8px;
    margin-bottom: 16px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.work-list__item {
    align-self: flex-start;
    color: #333333;
    font-size: 14px;
    font-weight: 400;
}

.work-list__item::marker {
    color: #03B2A5;
    font-size: 20px;
}

.aside__card3 {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    background-image: url("../img/aside-img/2-iphoneSE.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    height: 280px;
}

.aside__card3 > h2 {
    text-align: center;
    color: #FFFFFF;
    margin-top: 60px;
    font-size: 32px;
    width: 253px;
}

.aside__card4 {
    grid-column: span 2;
    padding: 32px;
    border: 1px solid #DEDEDE;
    border-radius: 16px;
}

.card__header4 {
    display: flex;
    align-items: baseline;
    gap: 4px;
}

.card__header-text-num {
    color: #2963A3;
    font-size: 24px;
    font-weight: 700;
}

.card__header-text {
    color: #2963A3;
    font-size: 18px;
    font-weight: 700;
}

.card__body4 {
    margin-top: 16px;
}

.card__text4 {
    color: #011632;
    font-size: 14px;
    font-weight: 400;
}

.card__price {
    color: #333333;
    font-size: 24px;
    font-weight: 700;
    margin-top: 16px;
}

.card__button-buy {
    border-radius: 4px;
    padding: 12px 23px;
    font-size: 16px;
    font-weight: 600;
    background-color: #35B3A9;
    color: #FFFFFF;
    margin-top: 24px;
    margin-bottom: 32px;
}

.blog__bg1, .blog__bg2 {
    display: none;
}

.footer {
    margin-top: 60px;
    grid-area: footer;
    background-color: #2963A3;
    display: grid;
    grid-template-columns: minmax(16px, auto) minmax(288px, 1200px) minmax(16px, auto);
    grid-template-areas:
        ". footer_container .";
}

.footer__container {
    grid-area: footer_container;
}

.footer__sections {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(6, 1fr);
    gap: 23px;
    margin-top: 35px;
}

.footer__nav-section {
    grid-column: span 6;
    display: flex;
    justify-content: space-between;
}

.footer__nav > ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer__link {
    list-style: none;
}

.footer__link > a {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
}

.footer__input-section {
    grid-column: span 6;
}

.input__header {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
}

.input__container {
    position: relative;
    display: flex;
    margin-top: 8px;
}

.input__container > input {
    flex-grow: 1;
    border: none;
    outline: none;
    border-radius: 4px;
    height: 48px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 16px;
    box-sizing: border-box;
}

.input__container > input::placeholder {
    color: #9D9D9D;
}

.input__container > input:focus {
    color: #333333;
}

.input__button {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 48px;
    width: 64px;
}

.input__description {
    color: rgba(255, 255, 255, 0.7);
    font-size: 12px;
    font-weight: 300;
    margin-top: 12px;
}

.footer__icons-section {
    grid-column: span 6;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.icons__social {
    display: flex;
    gap: 16px;
}

.footer__line {
    height: 1px;
    width: 100%;
    background-color: rgba(157, 157, 157, 0.2);
    margin-top: 20px;
}

.footer__copyright-and-documents {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 20px;
    margin-bottom: 37px;
}

.footer__copyright-and-documents > span > a {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    font-weight: 300;
}

/* iPhone 11 Pro Max */
@media screen and (min-width: 414px) {

    .header {
        height: 72px;
    }

    .header__container {
        height: 72px;
    }

    .blog__nav {
        margin-top: 16px;
    }

    .blog__header {
        font-size: 32px;
        margin-top: 32px;
    }

    .blog__link:last-child a {
        width: 223px;
    }

    .article-description {
        gap: 8px;
    }

    .article-description__item:not(:last-child)::after {
        margin-left: 8px;
    }

    .article__image {
        height: 207px;
    }

    .article__image > img {
        width: 374px;
    }

    section {
        margin-top: 24px;
    }

    .contents__header {
        margin-bottom: 16px;
    }

    h3 {
        font-size: 24px;
    }

    .intro__text {
        margin-top: 16px;
    }

    .quote {
        margin-top: 24px;
        height: 218px;
        background-image: url("../img/quote-img/quote-img-iphone11.png");
    }

    .quote__container {
        width: 342px;
    }

    .anxiety-list__header {
        margin-bottom: 16px;
    }

    .anxiety-list > ul {
        gap: 16px;
    }

    .paragraph-with-background__container {
        height: 168px;
        background-image: url("../img/background-img/bg-iphone11.png");
    }

    .paragraph-with-background__container > p {
        width: 374px;
    }

    .paragraph-grid {
        gap: 24px;
    }

    .paragraph-grid__item {
        max-width: 374px;
    }

    .paragraph-grid__item > p {
        margin-top: 16px;
    }

    .article-page {
        gap: 56px;
    }

    .card__work-list {
        align-self: center;
    }

    .aside__card3 {
        background-image: url("../img/aside-img/2-iphone11.png");
        height: 292px;
    }

    .footer {
        margin-top: 127px;
    }

    .input__button {
        display: block;
    }

}

/* iPad mini */
@media screen and (min-width: 768px) {

    .header {
        height: 76px;
    }

    .header__container {
        height: 76px;
    }

    .header__logo {
        width: 51px;
    }

    .blog__link:last-child a {
        display: inline-block;
        width: 100%;
        white-space: normal;
    }

    .blog__header {
        font-size: 48px;
        margin-top: 54px;
    }

    .article-description {
        margin-top: 16px;
    }

    .article__image {
        margin-top: 24px;
        height: 331px;
    }

    .article__image > img {
        width: 728px;
    }

    .contents {
        margin-top: 12px;
    }

    .intro {
        margin-top: 36px;
    }

    .quote {
        height: 162px;
        background-image: url("../img/quote-img/quote-img-ipad-mini.png");
    }

    .quote__container {
        width: 680px;
        padding: 24px;
    }

    .paragraph-with-background__container {
        height: 168px;
        background-image: url("../img/background-img/bg-ipad-mini.png");
    }

    .paragraph-with-background__container > p {
        width: 485px;
    }

    .paragraph-with-img {
        flex-direction: row;
    }

    .exercise-block {
        padding: 24px;
    }

    .paragraph-grid {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }

    .paragraph-grid__item {
        max-width: 356px;
    }

    .paragraph-grid__item > p {
        margin-top: 24px;
    }

    .article-page {
        gap: 23px;
    }

    .aside__card1 {
        grid-column: span 1;
    }

    .aside__card2 {
        grid-column: span 1;
    }

    .aside__card3 {
        grid-column: span 1;
        background-image: url("../img/aside-img/2-ipad-mini.png");
        height: 280px;
    }

    .aside__card4 {
        grid-column: span 1;
    }

    .card__button-buy {
        margin-bottom: 4px;
    }

    .footer {
        margin-top: 59px;
    }

    .footer__sections {
        column-gap: 31px;
        row-gap: 26px;
    }

    .footer__nav-section {
        grid-column: span 2;
    }

    .footer__input-section {
        grid-column: span 4;
    }

    .input__description {
        margin-top: 8px;
    }

    .footer__icons-section {
        grid-column: span 2;
        gap: 40px;
    }

    .footer__line {
        margin-top: 27px;
    }

    .footer__copyright-and-documents {
        flex-direction: row;
        gap: 48px;
        margin-top: 16px;
        margin-bottom: 23px;
    }

}

/* iPad Pro */
@media screen and (min-width: 1024px) {

    .header__nav {
        display: block;
    }

    .header__button {
        display: block;
    }

    .header__wrapped-menu {
        display: none;
    }

    .article__image {
        height: 331px;
    }

    .article__image > img {
        width: 100%;
        max-height: 331px;
    }

    .contents {
        margin-top: 24px;
    }

    .intro {
        margin-top: 24px;
    }

    .quote {
        height: 162px;
        background-image: url("../img/quote-img/quote-img-ipad-pro.png");
    }

    .quote__container {
        width: 666px;
    }

    .paragraph-with-background__container {
        height: 168px;
        background-image: url("../img/background-img/bg-ipad-pro.png");
    }

    .paragraph-with-background__container > p {
        width: 485px;
    }

    .paragraph-with-img {
        gap: 24px;
    }

    .paragraph-grid {
        gap: 24px;
    }

    .paragraph-grid__item {
        max-width: 345px;
    }

    .article-page {
        gap: 24px;
    }

    .article-page__left-side {
        grid-column: span 4;
    }

    .article-page__right-side {
        grid-column: span 2;
    }

    .aside__card1 {
        grid-column: span 2;
        grid-template-rows: 145px 1fr;
        margin-top: 88px;
    }

    .card__work-list {
        align-self: flex-start;
    }

    .aside__card2 {
        grid-column: span 2;
    }

    .aside__card3 {
        grid-column: span 2;
        background-image: url("../img/aside-img/2-ipad-pro.png");
        height: 292px;
    }

    .aside__card4 {
        grid-column: span 2;
    }

    .aside__card3 > h2 {
        width: 161px;
    }

    .footer {
        margin-top: 71px;
    }

    .footer__sections {
        gap: 21px;
        margin-top: 40px;
    }

    .footer__nav-section {
        grid-column: span 2;
    }

    .footer__input-section {
        grid-column: span 3;
    }

    .footer__icons-section {
        grid-column: span 1;
    }

    .footer__line {
        margin-top: 24px;
    }

    .footer__copyright-and-documents {
        margin-bottom: 17px;
    }

}

/* Desktop */
@media screen and (min-width: 1440px) {

    .header__nav {
        margin-left: 51px;
    }

    .header__link {
        margin-right: 30px;
    }

    .blog__header {
        margin-top: 54px;
    }

    .article__image {
        height: 331px;
    }

    .article__image > img {
        width: 690px;
    }

    .contents__list1-item:not(:first-child):not(:last-child) {
        display: list-item;
    }

    .contents__list ul {
        display: block;
    }

    .contents__list ul ul {
        display: block;
    }

    .contents__list ul ul ul {
        display: block;
    }

    .quote {
        margin-top: 40px;
        height: 162px;
        background-image: url("../img/quote-img/quote-img-desktop.png");
    }

    .quote__container {
        width: 642px;
    }

    .paragraph-with-background__container {
        height: 168px;
        background-image: url("../img/background-img/bg-desktop.png");
    }

    .paragraph-with-background__container > p {
        width: 485px;
    }

    .paragraph-grid__item {
        max-width: 333px;
    }

    .tag-list {
        display: block;
    }

    .article__line {
        display: block;
    }

    .article__feedback {
        display: flex;
    }

    .article-page {
        gap: 190px;
    }

    .article-page__left-side {
        grid-column: span 4;
    }

    .article-page__right-side {
        grid-column: span 2;
    }

    .aside__card1 {
        grid-template-rows: 206px 1fr;
    }

    .aside__card3 {
        background-image: url("../img/aside-img/2-desktop.png");
        height: 280px;
    }

    .blog__bg1 {
        display: block;
        position: absolute;
        right: 0;
        top: 2100px;
    }

    .blog__bg2 {
        display: block;
        position: absolute;
        right: 0;
        top: 4750px;
    }

    .footer {
        margin-top: 108px;
    }

    .footer__sections {
        gap: 91px;
    }

}